*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
}

:root{
    --dark-spruce: #364B36ff; 
    --orange: #FAAD1Aff;

}

body{
    font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
.Container-Navbar{
    background-color: var(--dark-spruce);
    display: flex;
    height: 10vh;
    margin-top: 10px;
    border-radius: 50px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo{
    display: flex;
    align-items: center;
  
}
.logo p{
    color: white;
    font-weight: bold;
    margin-left: none;
}
.logo img{
    width: 100px;
    margin-left: 20px;
    padding: 35px;
}

/* NAVIGATION */
.Navigation {
    margin-right: 40px;
}
.Navigation ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.Navigation ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.Navigation ul a:hover{
    color: var(--orange);
}
/* NAVBAR END */

/* MAIN */
.Container{
    margin: 20px;
}


/* landing page */
#LandingPage{
    margin-top: 50px;
}

#LandingPage span{
    color:var(--orange);
    text-decoration: underline;
    font-style: italic;
}

.landingPage-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage-Left{
      
}
.landingPage-Left h1{
    font-size: 60px;
    transform: translateY(-40px);
    
}
.landingPage-Left h3{
    margin-bottom: 10px;
    transform: translateY(-40px);
    margin-left: 10px;
}

.landingPage-Right{
    margin-right: 20px;
}

.landingPage-Right img{
    width: 300px;
    padding: 20px;
}

.LP-P{
    max-width: 70%;
    transform: translateY(-180px);
    text-align: justify;
}
.landingPage-Btn{
    transform: translateY(-140px);
    display: flex;
    gap: 20px;
}

.landingPage-Btn a{
    text-decoration: none;
    background-color: var(--dark-spruce);
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
}

.landingPage-Btn a:hover{
    color: var(--orange);
}

/* LANDING PAGHE END */

/* Program */
#Program h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--dark-spruce);
}
.Program{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.program-card{
    text-align: center;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    color: var(--dark-spruce);
    font-weight: bold;
    font-size: 20px;
    border: 1px dashed var(--dark-spruce);
    border-radius: 20px;
}

.program-card:hover{
    transform: translate(-3px, -3px);
     box-shadow: 6px 6px 0px #364B36ff;
}

.program-card-1{
    text-align: center;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    color: var(--dark-spruce);
    font-weight: bold;
    font-size: 20px;
    border: 1px dashed var(--dark-spruce);
    border-radius: 20px;
}
.program-card-1:hover{
    transform: translate(-3px, -3px);
     box-shadow: 6px 6px 0px #364B36ff;
}
.program-card-1 img{
    width: 90%;
}

.program-card-1 p{
    transform: translateY(70px);
}
.program-card img{
    width: 60%;
   
}
/* Program END */

/* TIM */
#Tim{
    margin-top: 40px;
}

#Tim h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--dark-spruce);
}

.tim-container{
    display: flex;
    margin: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}


.tim-card{
    border: 1px dashed var(--dark-spruce);
    width: 400px;
    border-radius: 30px;

}

.tim-card img{
    width: 40%;
   
}
/* TIM END */
/* MAIN END */

/* Footer */
.Container-Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: rgb(70, 65, 65);
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 10px;
}

/* Footer END */